<h1 class="setting_title">設定画面</h1>

<div class="setting_name">
    <% if @switch_line == 'main' %>
        <%= link_to '本業の名称', suppliers_path(is_side_business: false), class: 'setting_a' %>
    <% else %>
        <%= link_to '本業の名称', suppliers_path(is_side_business: false) %>
    <% end %>
    <% if @switch_line == 'sub' %>
        <%= link_to '副業の名称', suppliers_path(is_side_business: true), class: 'setting_a' %>
    <% else %>
        <%= link_to '副業の名称', suppliers_path(is_side_business: true) %>
    <% end %>
    <% if @switch_line == 'expenses' %>
        <%= link_to '経費の名称', user_expense_categories_path(@current_user), class: 'setting_a' %>
    <% else %>
        <%= link_to '経費の名称', user_expense_categories_path(@current_user) %>
    <% end %>
</div>

<div class="name_list">
    <h1 class="bussines_title">
      経費名一覧
    </h1>
    <div class="id_name top">
        <p class="id">ID</p>
        <p class="id">名称</p>
        <%= link_to '新規追加', new_user_expense_category_path(@current_user), class: 'supplier_new' %>
    </div>
    <% if @expenses.present? %>
        <% @expenses.each do |expense| %>
            <div class="id_name">
                <p class="id"><%= expense.id %></p>
                <p class="id"><%= expense.name %></p>
                <%= link_to '編集', edit_user_expense_category_path(@current_user,expense), class: 'supplier_new edit_btn' %>
            </div>
        <% end %>
    <% else %>
        <p class="not_supplier">まだ本業名が登録されてません</p>
    <% end %>
</div>