<div class="header">
  <% if logged_in? %>
    <%= link_to user_main_path(current_user), class: "header_left" do %>
      <img src="/assets/logo.png" alt="">
      <p class="header_left_p">Payroll<span>support</span></p>
    <% end %>
  <% else %>
    <span class="header_left">
      <img src="/assets/logo.png" alt="">
      <p class="header_left_p">Payroll<span>support</span></p>
    </span>
  <% end %>

  <ul class="header_middle">
  <% if @line == "home" %>
    <li class="header_nav_part line_nav">
  <% else %>
    <li class="header_nav_part">
  <% end %>
      <% if logged_in? %>
        <%= link_to 'ホーム', user_main_path(current_user, year: now_date_year), class: 'nav'%>
      <% else %>
        <span class="nav none">ホーム</span>
      <% end %>
    </li>

  <% if @line == "main" %>
    <li class="header_nav_part line_nav">
  <% else %>
    <li class="header_nav_part">
  <% end %>
      <% if logged_in? %>
        <%= link_to '本業収入',incomes_path(is_side_business: false), class: 'nav' %>
      <% else %>
        <span class="nav none">本業収入</span>
      <% end %>
    </li>

  <% if @line == "sub" %>
    <li class="header_nav_part line_nav">
  <% else %>
    <li class="header_nav_part">
  <% end %>
      <% if logged_in? %>
        <%= link_to '副業収入', incomes_path(is_side_business: true), class: 'nav'%>
      <% else %>
        <span class="nav none">副業収入</span>
      <% end %>
    </li>

  <% if @line == "expense" %>
    <li class="header_nav_part line_nav">
  <% else %>
    <li class="header_nav_part">
  <% end %>
      <% if logged_in? %>
        <%= link_to '経費', expenses_path, class: 'nav'%>
      <% else %>
        <span class="nav none">経費</span>
      <% end %>
    </li>
    
  </ul>

  <div class="header_right">
    <% if logged_in? %>
      <%= link_to suppliers_path(is_side_business: false), class: 'header_right_left' do %>
        <i class="fas fa-cog"></i>
      <% end %>
    <% else %>
      <i class="fas fa-cog none"></i>
    <% end %>
    <% if logged_in? %>
      <%= button_to logout_path, method: :delete, class: 'header_right_right'  do %>
        <i class="fas fa-sign-out-alt"></i>
        <p class="sign_in_out">ログアウト</p>
      <% end %>
    <% else %>
      <%= link_to login_path, class: 'header_right_right' do %>
        <i class="fas fa-sign-in-alt"></i>
        <p class="sign_in_out">ログイン</p>
      <% end %>
    <% end %>
  </div>
  
  <dl class="accordion js-accordion">
    <div class="accordion__item js-accordion-trigger">
      <dt class="accordion__title">メニュー</dt>
      <dd class="accordion__content">
          <% if logged_in? %>
            <%= link_to 'ホーム', user_main_path(current_user, year: now_date_year), class: 'media_link_a start'%>
          <% else %>
            <span class="media_link_a none start">ホーム</span>
          <% end %>

          <% if logged_in? %>
            <%= link_to '本業収入',incomes_path(is_side_business: false), class: 'media_link_a' %>
          <% else %>
            <span class="nav none">本業収入</span>
          <% end %>

          <% if logged_in? %>
            <%= link_to '副業収入', incomes_path(is_side_business: true), class: 'media_link_a'%>
          <% else %>
            <span class="nav none">副業収入</span>
          <% end %>

          <% if logged_in? %>
            <%= link_to '経費', expenses_path, class: 'media_link_a end'%>
          <% else %>
            <span class="nav none end">経費</span>
          <% end %>

          <% if logged_in? %>
            <%= link_to suppliers_path(is_side_business: false), class: 'media_link_a setting_link' do %>
              <i class="fas fa-cog"></i>
              <p class="sign_in_out">設定</p>
            <% end %>
          <% else %>
            <i class="fas fa-cog none"></i>
          <% end %>

          <% if logged_in? %>
            <%= button_to logout_path, method: :delete, class: 'log_in_out_btn'  do %>
              <i class="fas fa-sign-out-alt"></i>
              <p class="sign_in_out">ログアウト</p>
            <% end %>
          <% else %>
            <%= link_to login_path, class: 'log_in_out_btn' do %>
              <i class="fas fa-sign-in-alt"></i>
              <p class="sign_in_out">ログイン</p>
            <% end %>
          <% end %>
      </dd>
    </div>
  </dl>
</div>
