<div class="setting_name">
    <% if @switch_line == 'main' %>
        <%= link_to '本業の名称', suppliers_path(is_side_business: false), class: 'setting_a' %>
    <% else %>
        <%= link_to '本業の名称', suppliers_path(is_side_business: false) %>
    <% end %>
    <% if @switch_line == 'sub' %>
        <%= link_to '副業の名称', suppliers_path(is_side_business: true), class: 'setting_a' %>
    <% else %>
        <%= link_to '副業の名称', suppliers_path(is_side_business: true) %>
    <% end %>
    <% if @switch_line == 'expenses' %>
        <%= link_to '経費の名称', user_expense_categories_path(@current_user), class: 'setting_a' %>
    <% else %>
        <%= link_to '経費の名称', user_expense_categories_path(@current_user) %>
    <% end %>
</div>