<h1 class="setting_title">設定画面</h1>
<%= render 'shared/setting_nav_menu' %>
<div class="name_list">
    <h1 class="bussines_title">
        <% if @supplier_switch == "false" %>
            本業名一覧
        <% else %>
            副業名一覧
        <% end %>
    </h1>
    <div class="id_name top">
        <p class="id">ID</p>
        <p class="id">名称</p>
        <%= link_to '新規追加', new_user_supplier_path(@current_user, is_side_business: @supplier_switch), class: 'supplier_new' %>
    </div>
    
    <% if @supplier_switch == "false" %>
        <% if @suppliers_main.present? %>
            <% @suppliers_main.each do |supplier| %>
                <div class="id_name">
                    <p class="id"><%= supplier.id %></p>
                    <p class="id"><%= supplier.name %></p>
                    <div class="destroy_btn">
                        <%= button_to user_supplier_path(@current_user,supplier), method: :delete, class: 'supplier_new delete_btn'  do %>
                            <span class="sign_in_out">削除</span>
                        <% end %>
                    </div>
                    <%= link_to '編集', edit_user_supplier_path(@current_user,supplier), class: 'supplier_new edit_btn' %>
                </div>
            <% end %>
        <% else %>
            <p class="not_supplier">まだ本業名が登録されてません</p>
        <% end %>
    <% else %>
        <% if @suppliers_sub.present? %>
            <% @suppliers_sub.each do |supplier| %>
                <div class="id_name">
                    <p class="id"><%= supplier.id %></p>
                    <p class="id"><%= supplier.name %></p>
                    <div class="destroy_btn">
                        <%= button_to user_supplier_path(@current_user,supplier), method: :delete, class: 'supplier_new delete_btn'  do %>
                            <span class="sign_in_out">削除</span>
                        <% end %>
                    </div>
                    <%= link_to '編集', edit_user_supplier_path(@current_user,supplier), class: 'supplier_new edit_btn' %>
                </div>
            <% end %>
        <% else %>
            <p class="not_supplier">まだ副業名が登録されてません</p>
        <% end %>
    <% end %>
</div>