<h1 class="setting_title">設定画面</h1>

<div class="setting_name">
    <% if @switch_line == 'main' %>
        <%= link_to '本業の名称', '#', class: 'setting_a' %>
    <% else %>
        <%= link_to '本業の名称', '#' %>
    <% end %>
    <% if @switch_line == 'sub' %>
        <%= link_to '副業の名称', '#', class: 'setting_a' %>
    <% else %>
        <%= link_to '副業の名称', '#' %>
    <% end %>
    <% if @switch_line == 'expenses' %>
        <%= link_to '経費の名称', '#', class: 'setting_a' %>
    <% else %>
        <%= link_to '経費の名称', '#' %>
    <% end %>
</div>

<div class="name_list">
    <h1 class="bussines_title">本業名一覧</h1>
    <div class="id_name top">
        <p class="id">ID</p>
        <p class="id">名称</p>
        <%= link_to '新規追加', new_user_supplier_path, class: 'supplier_new' %>
    </div>
    <% if @suppliers.present?%>
        <% @suppliers.each do |supplier| %>
            <div class="id_name">
                <p class="id"><%= supplier.id %></p>
                <p class="id"><%= supplier.name %></p>
                <%= link_to '編集', edit_user_supplier_path(@user,supplier), class: 'supplier_new edit_btn' %>
            </div>
        <% end %>
    <% else %>
        <p class="not_supplier">まだ本業名が登録されてません</p>
    <% end %>
</div>